{% include 'navbar.html' %}

{% load bootstrap4 %} {% load static %}


{% block styles %} {% bootstrap_css %}
{% endblock %}
   {% for comment in comments%}
        <h5><span style="font-weight:bolder;">@{{comment.user_id}}:</span>&nbsp;&nbsp;{{comment}} </h5> {% endfor %}


  <form method="post" enctype="multipart/form-data">
    {%csrf_token%}

    {% bootstrap_form form%}
    <input type="submit" class="btn btn-success btn-lg" value="Post">
  </form>

   {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %} {% endblock %}

