{%extends "base.html"%}

{% block content %}
{{block.super}}
{% load bootstrap4 %}
{% load static %}



{% block styles %}
{% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/posted.css' %}">
{% endblock %}
<body>
<div class="container">
<div class="row">


    <div class="col-md-12">
<div class="image">
        <a href="/">Back</a>
    <img src="{{image.image.url}} "  class="img-responsive" >
</div>

          <p>{{image.pub_date|timesince}}</p>

    </div>


</div>
</div>

</body>
{% endblock %}